@font-face { font-family: MoonLight; src: url('Moon Light.otf'); } 
@font-face { font-family: MoonLight; font-weight: bold; src: url('Moon Bold.otf');}

html,body{
	background-color:#d0d6dc;
	height:100%;
}
button{
	font-family: MoonLight;
	color:black;
}
p,li,a{
	font-family: "Josefin Sans";
}
label{
	font-family: MoonLight;
	color:white;
}
.label{
    color:white;
    margin-top: 14px;
    font-weight: normal;
}

.pick-user{
	position: relative;
	top:2px;
	margin-right: 4px;
}

.centerize{
	display: block;
    margin: 0 auto;
    text-align: center;
}
.rightrize{
	position: relative;
	left:27%;
	text-align: none;
}

.paddtop{
	padding-top: 28px;
}
.paddtop-profile{
	padding-top: 41px;
}
.leftrize{
	display: block;
    margin: 0 auto;
    text-align: left;
}

.nameApp{
	background-color:#7ca7ce;
	padding-top: 33px;
	padding-left: 36px;
    padding-bottom: 39px;
}
.inlinelocked{
	display: inline-block;
}
.inlinelocked img{
	padding-left: 14px;
}
.title{
	color:white;
	font-family: MoonLight;
	position: relative;
    bottom: 45px;
    padding: 30px;
}

.menu{
	bottom:0px;
	padding: 10px;
	color:#424242;
	font-size: 24px;
}

.container{
	padding-top: 30px;
}
.login{
	width: 500px;
    display: block;
    margin: 0 auto;
    background-color: #424242;
    border-radius: 4px;
    padding: 57px;
    box-shadow: 0 2px 3px;
}
.button{
	margin:10px;
}
.is-info{
	color:black;
}

.notification{
	display: none;
	font-weight: 500;
	font-family: MoonLight;
	color:black;
	text-align: center;
}

.is-error{
	background-color: #ffc052;
}

.paddleft{
	padding-left: 32px;
}
.is-centered > ul{
	border-bottom:1px solid black;
}
.is-centered a{
	border-bottom:1px solid black;
}

.is-centered h2{
	color: #424242;
}

.is-centered h2:hover{
	color:#ffc052;
}

.is-centered a:hover{
	border-bottom: 1px solid #ffc052;
}

p{
	color:white;
}

.userNamePerfil{
	font-size: 50px;
	font-weight: 600;
}

.userName{
	display: None
	font-size: 50px;
	font-weight: 600;
}

.userParams{
	font-size:26px;
	color:white;
	text-align: left;
	font-family: "Josefin Sans";
}

.userData{
	font-size: 20px;
	padding-left: 10px;
}

.userProps{
	font-size: 20px;
	padding-left: 10px;
}
.customInput{
    width: 280px;
    background-color: transparent;
    border-color: #424242;
    margin : 0 auto;
    border-width: 2px;
}
.carInput{
	width:350px;
}
.menu-search{
	font-size: 19px;
	margin-left: 4px;
}
.menu-dealership{
	font-size: 19px;
	margin-left: 4px;
	margin-top: 40px;
}


.menu-list a:hover{
	background-color: #ffc052;
	color:white;
}
.card{
	display: inline-block;
	margin-top: 52px;
	margin-right: 19px;
}

.form-dealership{
	width:286px;
	display: block;
	margin:0 auto;
}
.car-form{
	width:350px;
	padding-top: 27px;
}
.absoluted{
	position:absolute;
}
.margin-paddtop{
	padding-top: 55px;
	margin: auto;
}
.margin-nopadd{
	margin:auto;
	padding-top: 0px;
}
.carInfo{
	color:black;
}
.car-img{
	height:225px;
	width:300px;
}

.work-area{
	background-color: #ffffff;
}